<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Steam Crawler</title>
		<link href="static/bootstrap.css" rel="stylesheet">
	</head>
	<body class="bg-body" data-bs-theme="dark">
		<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
			<div class="container-fluid"><a class="navbar-brand" href="/">Steam Crawler</a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active" aria-current="page" href="#">puton</a></li>
						<li class="nav-item"><a class="nav-link" href="#">alt puton</a></li>
					</ul>
				</div>-->
			</div>
		</nav>
		<div class="container-md mt-4" data-bs-theme="dark">
			<div class="row">
				<div class="col-md-7">
					<h1 class="mb-4">Welcome to Steam Crawler</h1>
					<h2 class="mb-4">How to Use:</h2>
					<ul class="list-unstyled">
						<li class="mb-2"><strong class="fs-4 mb-4">Input Your Preferences:</strong><br>Begin by entering your preferences, such as game genre, tags, or keywords, into the search bar.</li>
						<li class="mb-2"><strong class="fs-4 mb-4">Build Your Steam Store URL:</strong><br>Our smart algorithm will use your input to construct a tailored Steam Store URL.</li>
						<li class="mb-2"><strong class="fs-4 mb-4">Retrieve Up to 100 Search Results:</strong><br>Click on the "Search" button to fetch up to 100 search results from the Steam Store based on your preferences.</li>
						<li class="mb-2"><strong class="fs-4 mb-4">Explore the Results:</strong><br>Browse through the list of games to discover titles that match your interests.</li>
						<li class="mb-2"><strong class="fs-4 mb-4">Access Detailed Game Information:</strong><br>Click on a game title to access its Steam Store page and unveil more details.</li>
						<li class="mb-2"><strong class="fs-4 mb-4">Export Everything:</strong><br>Export everything, such as reviews, ratings, descriptions, into CSV format</li>
						<li class="mb-2"><strong class="fs-4 mb-4">Refine Your Search:</strong><br>If you want to adjust your preferences, simply go back, modify your input, and click "Search" again.</li>
					</ul>
					<div class="alert alert-info"><strong>Note:</strong>
						<ul class="list-unstyled">
							<li>Some games may have restricted access, and certain details may not be available for extraction.</li>
							<li>Make sure to respect the terms of service of the Steam platform while using this tool.</li>
						</ul>
					</div>
					<div class="container-fluid text-center">
						<a href="/form">
            				<button class="btn container-fluid mt-3 mb-4 bg-body-secondary" data-bs-theme="dark" type="button">
              					<span class="fs-3">Get Started</span>
            				</button>
						</a>
          			</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<h2 class="mb-4">About Steam Crawler</h2>
					<p> Welcome to Steam Crawler, a project designed to explore the world of web scraping and enhance the gaming discovery experience on the Steam platform. </p>
					<p><strong>Our Mission:</strong> This project aims to study web scraping techniques by providing users with a tool to discover Steam games based on their preferences. </p>
					<p><strong>Why the Limits:</strong> To ensure a responsible and respectful use of resources, Steam Crawler imposes some limits on the number of requests made to the Steam servers. These limits help prevent excessive load on the servers and ensure a smooth experience for all users. </p>
					<div class="alert alert-warning"><strong>Please Note:</strong>
						<ul>
							<li>Be mindful of the number of requests you make to avoid overloading the Steam servers.</li>
							<li>This project is for educational and exploratory purposes and is not intended for commercial use.</li>
							<li>Respect the terms of service of the Steam platform while using this tool.</li>
						</ul>
					</div>
					<p class="text-center"><strong>Enjoy Exploring Games Responsibly!</strong></p>
				</div>
			</div>
		</div>
		<div class="container">
      		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        		<div class="col-md-4 d-flex align-items-center">
          			<span class="mb-3 mb-md-0 text-muted">2023 Cosmin Pascaru & Oprean Eduard</span>
        		</div>
        		<a class="btn bg-body-secondary" data-bs-target="dark" href="https://github.com/CosminPascaru/SteamCrawler" target="_blank">
          			<img src="static/GitHub_Logo_White.png" alt="GitHub Logo" width="55" height="24" class="mr-2">
        		</a>
      		</footer>
    	</div>
		<script src="static/bootstrap.js"></script>
	</body>
</html>